/UnrealExporter/bin
/UnrealExporter/obj
/UE5LibraryBrowser/bin
/UE5LibraryBrowser/obj
/Content
/output
/output2
/.cache
.env
/test
**.ckpt
/configs/**.json
!config.json
!configs/examples/
!configs/examples/**.json
desktop.ini
**.old
.vscode
.vs/
**/.vs/
